﻿@{
    ViewData["Title"] = "App";
}

<div id="unity-container">
    <div id="unity-canvas-container" style="width: 100%; height: 100%;">
        <canvas id="unity-canvas" style="width: 100%; height: 100%;"></canvas>
    </div>
    <div id="unity-loading-bar">
        <div id="unity-logo"></div>
        <div id="unity-progress-bar-empty">
            <div id="unity-progress-bar-full"></div>
        </div>
    </div>
    <div id="unity-footer">
        <div id="unity-webgl-logo"></div>
        <button id="entervr" value="Enter VR">VR</button>
        <button id="enterar" value="Enter AR">AR</button>
        <div id="unity-webxr-link">Using WebXR Export</div>
        <div id="unity-build-title">WildX</div>
    </div>
</div>
<script>
    var buildUrl = "Build";
    var loaderUrl = buildUrl + "/WebGL.loader.js";
    var config = {
        dataUrl: buildUrl + "/WebGL.data",
        frameworkUrl: buildUrl + "/WebGL.framework.js",
        codeUrl: buildUrl + "/WebGL.wasm",
        streamingAssetsUrl: "StreamingAssets",
        companyName: "Cool Ideas, LLC",
        productName: "WildX",
        productVersion: "0.3.18",
    };

    var container = document.querySelector("#unity-container");
    var canvas = document.querySelector("#unity-canvas");
    var canvasContainer = document.querySelector("#unity-canvas-container");
    var loadingBar = document.querySelector("#unity-loading-bar");
    var progressBarFull = document.querySelector("#unity-progress-bar-full");
    var fullscreenButton = document.querySelector("#unity-fullscreen-button");
    var unityInstance = null;


    loadingBar.style.display = "block";

    function init() {
        createUnityInstance(canvas, config, (progress) => {
            progressBarFull.style.width = 100 * progress + "%";
        }).then((instance) => {
            unityInstance = instance;
            loadingBar.style.display = "none";
            if (fullscreenButton) {
                fullscreenButton.onclick = () => {
                    unityInstance.SetFullscreen(1);
                };
            }
        }).catch((message) => {
            alert(message);
        });
    }

    var script = document.createElement("script");
    script.src = loaderUrl;
    script.onload = () => {
        navigator.permissions.query({ name: 'vr' }).then(result => {
            if (result.state === 'granted') {
                init();
            } else {
                alert("Access to VR/XR is required.");
            }
            result.addEventListener('change', () => {
                if (result.state === 'granted') {
                    init();
                } else {
                    alert("Access to VR/XR is required.");
                }
            });
        });
    };
    document.body.appendChild(script);

    let enterARButton = document.getElementById('enterar');
    let enterVRButton = document.getElementById('entervr');

    document.addEventListener('onARSupportedCheck', function (event) {
        console.log(event);
        enterARButton.disabled = !event.detail.supported;
    }, false);
    document.addEventListener('onVRSupportedCheck', function (event) {
        console.log(event);
        enterVRButton.disabled = !event.detail.supported;
    }, false);

    enterARButton.addEventListener('click', function (event) {
        unityInstance.Module.WebXR.toggleAR();
    }, false);
    enterVRButton.addEventListener('click', function (event) {
        unityInstance.Module.WebXR.toggleVR();
    }, false);
</script>